Checking the USER_ID and PRODUCT_ID for train and test given data.

In [2]:
#guess I'll try xgb today for base model and then see how it goes

In [1]:
import os
os.chdir("/home/gauravk/Documents/DataScience/Datasets/AV_blackFriday/")

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


%matplotlib inline

In [3]:
train_df = pd.read_csv("train.csv")

In [4]:
test_df = pd.read_csv("test.csv")
test_df.shape

(233599, 11)

In [5]:
train_df.shape

(550068, 12)

In [9]:
train_df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
a.shape

(3631,)

In [10]:
b.shape

(3491,)

In [18]:
a = pd.DataFrame(train_df.Product_ID.value_counts())
a = a.reset_index()
a.columns = ["Pro", '0']

In [19]:
b  = test_df.Product_ID.value_counts()
b = b.reset_index()
b.columns = ["Pro", '1']

In [21]:
type(b)

pandas.core.frame.DataFrame

In [22]:
x = pd.merge(a, b, on = 'Pro', how='outer')

In [28]:
x.isnull().sum()

Pro      0
0       46
1      186
dtype: int64

In [29]:
c = pd.DataFrame(train_df.User_ID.value_counts())
c = c.reset_index()
c.columns = ["Pro", '0']

In [30]:
d = pd.DataFrame(test_df.User_ID.value_counts())
d = d.reset_index()
d.columns = ["Pro", '1']

In [31]:
c.shape

(5891, 2)

In [32]:
d.shape

(5891, 2)

Result: 46 new products are present in the test_df
the users are same, i.e. no new users are present.

In [35]:
train_df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [59]:
c = pd.DataFrame(train_df.Marital_Status.value_counts())
c = c.reset_index()
c.columns = ["Pro", '0']
d = pd.DataFrame(test_df.Marital_Status.value_counts())
d = d.reset_index()
d.columns = ["Pro", '1']
print(c.shape)
print(d.shape)

(2, 2)
(2, 2)

In [60]:
c['0'] = c['0']/c['0'].sum()
d['1'] = d['1']/d['1'].sum()
c['0']-d['1']

0    0.000417
1   -0.000417
dtype: float64

In [54]:
c['0'] = c['0']/c['0'].sum()
d['1'] = d['1']/d['1'].sum()
c['0']-d['1']

0    -0.000303
1     0.001547
2     0.000506
3    -0.000516
4    -0.001583
5    -0.000108
6    -0.000120
7     0.000533
8    -0.000500
9     0.000100
10   -0.000440
11    0.000083
12    0.000501
13   -0.000106
14   -0.000106
15   -0.000371
16    0.000579
17   -0.000185
18    0.000288
19    0.000144
20    0.000058
dtype: float64

Occupation ^

In [50]:
c['0'] = c['0']/c['0'].sum()
d['1'] = d['1']/d['1'].sum()
c['0']-d['1']

0   -0.000751
1    0.000037
2    0.000128
3   -0.000724
4    0.000288
5    0.000245
6    0.000777
dtype: float64

Certain Age Groups like 26-35 and 46-50 are present in greater relative numbers in the test_df than train_df