Importing lib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
%matplotlib inline

importing data

In [34]:
train = pd.read_csv('train.csv')
len(train['User_ID'].unique())

5891

In [4]:
test = pd.read_csv('test.csv')

Exploring

In [5]:
print(train.info())
print(test.info())
print(train.describe())
print(test.describe())
print(train.shape)
print(test.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
User_ID                       233599 non-null int64
Product_ID                    233599 non-null object
Gender                        233599 non-null object
Age                           233599 non-null object
Occupation                    233599 non-null int64
City_Category                 233599 non-null object
Stay_In_Current_City_Years    233599 non-null object
Marital_Status                233599 non-null int64
Product_Category_1            233599 non-null int64
Product_Category_2            161255 non-null float64
Product_Category_3            71037 non-null float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB
None
            User_ID     Occupation  Marital_Status  Product_Category_1  \
count  5.500680e+05  550068.000000   550068.000000       550068.000000
mean   1.003029e+06       8.076707        0.409653            5.404270
std    1.727592e+03       6.522660        0.491770            3.936211
min    1.000001e+06       0.000000        0.000000            1.000000
25%    1.001516e+06       2.000000        0.000000            1.000000
50%    1.003077e+06       7.000000        0.000000            5.000000
75%    1.004478e+06      14.000000        1.000000            8.000000
max    1.006040e+06      20.000000        1.000000           20.000000

       Product_Category_2  Product_Category_3       Purchase
count       376430.000000       166821.000000  550068.000000
mean             9.842329           12.668243    9263.968713
std              5.086590            4.125338    5023.065394
min              2.000000            3.000000      12.000000
25%              5.000000            9.000000    5823.000000
50%              9.000000           14.000000    8047.000000
75%             15.000000           16.000000   12054.000000
max             18.000000           18.000000   23961.000000
            User_ID     Occupation  Marital_Status  Product_Category_1  \
count  2.335990e+05  233599.000000   233599.000000       233599.000000
mean   1.003029e+06       8.085407        0.410070            5.276542
std    1.726505e+03       6.521146        0.491847            3.736380
min    1.000001e+06       0.000000        0.000000            1.000000
25%    1.001527e+06       2.000000        0.000000            1.000000
50%    1.003070e+06       7.000000        0.000000            5.000000
75%    1.004477e+06      14.000000        1.000000            8.000000
max    1.006040e+06      20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3
count       161255.000000        71037.000000
mean             9.849586           12.669454
std              5.094943            4.125944
min              2.000000            3.000000
25%              5.000000            9.000000
50%              9.000000           14.000000
75%             15.000000           16.000000
max             18.000000           18.000000
(550068, 12)
(233599, 11)

In [6]:
print(train.head())
# print(test.head())

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969

In [7]:
for i in train.columns:
    print(i, ": ", train[i].value_counts())
#     if(train[i].dtype == np.dtype('O')):
#         print(" }}}}}}}}}}}}}}}}}}}}}} " , train[i].dtype)
#     else :
#         print(train[i].hist())
#     print(i)

User_ID :  1001680    1026
1004277     979
1001941     898
1001181     862
1000889     823
1003618     767
1001150     752
1001015     740
1005795     729
1005831     727
1002909     718
1001449     714
1002063     709
1004344     705
1003391     698
1003841     698
1000424     694
1004510     691
1001980     685
1001088     680
1004227     676
1003808     671
1004508     651
1000549     632
1003224     622
1003539     617
1005367     612
1001285     606
1004543     588
1003824     584
           ...
1001318       9
1004178       9
1004464       9
1005043       9
1003388       9
1003883       9
1005117       9
1002160       9
1002893       9
1002061       9
1004068       9
1002037       9
1004527       8
1003291       8
1002965       8
1002488       8
1000320       8
1003542       8
1002135       8
1003275       8
1005904       8
1004192       8
1005810       7
1005391       7
1002690       7
1000094       7
1002111       7
1004991       7
1005608       7
1000708       6
Name: User_ID, dtype: int64
Product_ID :  P00265242    1880
P00025442    1615
P00110742    1612
P00112142    1562
P00057642    1470
P00184942    1440
P00046742    1438
P00058042    1422
P00145042    1406
P00059442    1406
P00237542    1394
P00255842    1383
P00117942    1364
P00110942    1360
P00010742    1350
P00220442    1282
P00110842    1281
P00117442    1260
P00051442    1249
P00102642    1246
P00278642    1226
P00242742    1215
P00034742    1212
P00148642    1204
P00080342    1203
P00031042    1200
P00028842    1197
P00251242    1187
P00114942    1178
P00270942    1152
             ...
P00081642       1
P00260742       1
P00315242       1
P00308042       1
P00238842       1
P00069742       1
P00203942       1
P00339142       1
P00160742       1
P00054442       1
P00133042       1
P00298842       1
P00107842       1
P0097642        1
P00142542       1
P00241842       1
P00065542       1
P00314742       1
P00132742       1
P00275042       1
P00305442       1
P00329042       1
P00307242       1
P00166442       1
P00224642       1
P00204442       1
P00164242       1
P00341542       1
P00013542       1
P00306542       1
Name: Product_ID, dtype: int64
Gender :  M    414259
F    135809
Name: Gender, dtype: int64
Age :  26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64
Occupation :  4     72308
0     69638
7     59133
1     47426
17    40043
20    33562
12    31179
14    27309
2     26588
16    25371
6     20355
3     17650
10    12930
5     12177
15    12165
11    11586
19     8461
13     7728
18     6622
9      6291
8      1546
Name: Occupation, dtype: int64
City_Category :  B    231173
C    171175
A    147720
Name: City_Category, dtype: int64
Stay_In_Current_City_Years :  1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64
Marital_Status :  0    324731
1    225337
Name: Marital_Status, dtype: int64
Product_Category_1 :  5     150933
1     140378
8     113925
11     24287
2      23864
6      20466
3      20213
4      11753
16      9828
15      6290
13      5549
10      5125
12      3947
7       3721
18      3125
20      2550
19      1603
14      1523
17       578
9        410
Name: Product_Category_1, dtype: int64
Product_Category_2 :  8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64
Product_Category_3 :  16.0    32636
15.0    28013
14.0    18428
17.0    16702
5.0     16658
8.0     12562
9.0     11579
12.0     9246
13.0     5459
6.0      4890
18.0     4629
4.0      1875
11.0     1805
10.0     1726
3.0       613
Name: Product_Category_3, dtype: int64
Purchase :  7011     191
7193     188
6855     187
6891     184
6960     183
7012     183
6879     182
7166     182
7027     182
7165     180
6868     180
6883     180
6858     179
7185     178
6923     178
7089     178
6931     178
7093     178
7114     177
7188     177
7060     176
6908     176
7085     176
7167     175
7159     175
6973     175
7146     175
6928     175
6949     175
7192     174
        ...
14650      1
15063      1
17112      1
11151      1
3365       1
4724       1
14296      1
10499      1
5687       1
14593      1
23855      1
17366      1
23863      1
10355      1
2931       1
6708       1
349        1
3389       1
14896      1
4868       1
14114      1
208        1
14682      1
14138      1
10290      1
15105      1
14384      1
10453      1
8537       1
14640      1
Name: Purchase, dtype: int64

In [8]:
train['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'], dtype=object)

In [6]:
### MASKING THE FEATURE 'GENDER' IN BOTH THE DATASETS ####
train['Gender'] = train['Gender'].map({'F':1, 'M':2}).astype(int)
test['Gender'] = test['Gender'].map({'F':1, 'M':2}).astype(int)

#### MASKING THE FEATURE 'CITY_CATEGORY' IN BOTH THE DATASETS ####
train['City_Category'] = train['City_Category'].map({'A':1, 'B':2, 'C':3}).astype(int)
test['City_Category'] = test['City_Category'].map({'A':1, 'B':2, 'C':3}).astype(int)

#### MASKING THE FEATURE 'STAY_IN_CURRENT_CITY_YEARS' IN BOTH THE DATASETS ####
train['Stay_In_Current_City_Years'] = train['Stay_In_Current_City_Years'].map({'0':0, '1':1, '2':2, '3':3, '4+':4}).astype(int)
test['Stay_In_Current_City_Years'] = test['Stay_In_Current_City_Years'].map({'0':0, '1':1, '2':2, '3':3, '4+':4}).astype(int)

#### MASKING THE FEATURE 'AGE' IN BOTH THE DATASETS ####
train['Age'] = train['Age'].map({'0-17': 1, '18-25': 2, '26-35': 3, '36-45': 4, '46-50': 5, '51-55': 6, '55+': 7}).astype(int)
test['Age'] = test['Age'].map({'0-17': 1, '18-25': 2, '26-35': 3, '36-45': 4, '46-50': 5, '51-55': 6, '55+': 7}).astype(int)

In [7]:
t = train[['Product_Category_1', 'Product_Category_2', 'Product_Category_3']]

In [11]:
t

        Product_Category_1  Product_Category_2  Product_Category_3
0                        3                 NaN                 NaN
1                        1                 6.0                14.0
2                       12                 NaN                 NaN
3                       12                14.0                 NaN
4                        8                 NaN                 NaN
5                        1                 2.0                 NaN
6                        1                 8.0                17.0
7                        1                15.0                 NaN
8                        1                16.0                 NaN
9                        8                 NaN                 NaN
10                       5                11.0                 NaN
11                       8                 NaN                 NaN
12                       8                 NaN                 NaN
13                       1                 2.0                 5.0
14                       5                 8.0                14.0
15                       4                 5.0                 NaN
16                       2                 3.0                 4.0
17                       5                14.0                 NaN
18                       1                14.0                16.0
19                       1                 5.0                15.0
20                       5                14.0                 NaN
21                       8                 NaN                 NaN
22                       8                 NaN                 NaN
23                       8                 NaN                 NaN
24                       1                 8.0                14.0
25                       6                 8.0                 NaN
26                       8                 NaN                 NaN
27                       5                14.0                 NaN
28                       5                 8.0                14.0
29                       2                 4.0                 8.0
...                    ...                 ...                 ...
550038                  20                 NaN                 NaN
550039                  20                 NaN                 NaN
550040                  19                 NaN                 NaN
550041                  20                 NaN                 NaN
550042                  20                 NaN                 NaN
550043                  19                 NaN                 NaN
550044                  19                 NaN                 NaN
550045                  20                 NaN                 NaN
550046                  20                 NaN                 NaN
550047                  20                 NaN                 NaN
550048                  20                 NaN                 NaN
550049                  20                 NaN                 NaN
550050                  20                 NaN                 NaN
550051                  20                 NaN                 NaN
550052                  20                 NaN                 NaN
550053                  20                 NaN                 NaN
550054                  19                 NaN                 NaN
550055                  20                 NaN                 NaN
550056                  20                 NaN                 NaN
550057                  19                 NaN                 NaN
550058                  20                 NaN                 NaN
550059                  19                 NaN                 NaN
550060                  20                 NaN                 NaN
550061                  20                 NaN                 NaN
550062                  20                 NaN                 NaN
550063                  20                 NaN                 NaN
550064                  20                 NaN                 NaN
550065                  20                 NaN                 NaN
550066                  20                 NaN                 NaN
550067                  20                 NaN                 NaN

[550068 rows x 3 columns]

In [12]:
import math
t['catV']=None;
for i in range(550068):
    if(math.isnan(float(t.loc[i,1])) and math.isnan(float(t.iloc[i,2]))):
        t.loc[i,4]=1;
    elif(not(math.isnan(float(t.loc[i,1]))) and math.isnan(float(t.iloc[i,2]))):
        t.loc[i,4]=2;
    elif(not(math.isnan(float(t.loc[i,1]))) and not(math.isnan(float(t.loc[i,2])))):
        t.loc[i,4]=3;
    else:
        print("choot");

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [8]:
t['Multicategory'] = np.zeros((len(train['Age']),1))

t.loc[(t['Product_Category_2'].isnull()) | (t['Product_Category_3'].isnull()), 'Multicategory'] =2    
t.loc[(t['Product_Category_2'].isnull()) & (t['Product_Category_3'].isnull()), 'Multicategory'] =1
t.loc[t['Multicategory'] == 0, 'Multicategory'] = 3

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.4/dist-packages/pandas-0.19.1-py3.4-linux-x86_64.egg/pandas/core/indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
test['Multicategory'] = np.zeros((len(test['Age']),1))

test.loc[(test['Product_Category_2'].isnull()) | (test['Product_Category_3'].isnull()), 'Multicategory'] =2    
test.loc[(test['Product_Category_2'].isnull()) & (test['Product_Category_3'].isnull()), 'Multicategory'] =1
test.loc[test['Multicategory'] == 0, 'Multicategory'] = 3

In [10]:
train['MultiCat']=t['Multicategory']

In [14]:
print(features.columns)
print(test.columns)

Index(['Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'MultiCat'],
      dtype='object')
Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Multicategory'],
      dtype='object')

In [12]:
price = train['Purchase'];
features =train.drop(train.columns[[0,1,9,10,11]], axis=1)

In [13]:
testfeat = test.drop(train.columns[[0,1,9,10]], axis=1)

Model fitting

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lr = LinearRegression()
lr.fit(features, price)
pred = lr.predict(features);
print(r2_score(price, pred))
# print(lr.score(features,price))

0.152319172816

In [24]:
from sklearn.model_selection import ShuffleSplit
cv = ShuffleSplit(n_splits=10, test_size= 0.2, random_state=0)

In [16]:
import math
print(math.sqrt(mean_squared_error(price, pred)))

NameError: name 'mean_squared_error' is not defined

In [17]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import LinearSVR
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
import math
from sklearn.metrics import mean_squared_error
from time import time

In [ ]:
# first normalize this somehow.
rf = LinearSVR(n_estimators=20)

for trc, tc in cv.split(features, price):
    rf.fit(features.iloc[trc], price[trc])
    pred = rf.predict(features.iloc[tc])
    print(r2_score(price[tc], pred))
    print(math.sqrt(mean_squared_error(price[tc], pred)))

In [27]:
t1 = time();
i=10;
for trc, tc in cv.split(features, price):
    rf = RandomForestRegressor(n_estimators=40,  min_samples_split = 50, warm_start=True) # try this one
    rf.fit(features.iloc[trc], price[trc])
    pred = rf.predict(features.iloc[tc])
#   print(r2_score(price[tc], pred))
    print(time()-t1, "seconds")
    print("rmse on train", math.sqrt(mean_squared_error(price[trc], rf.predict(features.iloc[trc]) )))
    print("rmse on test", math.sqrt(mean_squared_error(price[tc], pred)))
    
    i+=10;

79.46899747848511 seconds
rmse on train 2825.272395470737
rmse on test 2921.97263497824
186.38918280601501 seconds
rmse on train 2826.684168106667
rmse on test 2918.8591083708634
278.36173582077026 seconds
rmse on train 2826.206667085107
rmse on test 2923.5581711319896
370.11617040634155 seconds
rmse on train 2828.5521755134687
rmse on test 2912.548467312673
462.5950963497162 seconds
rmse on train 2822.737994088544
rmse on test 2938.1175004194515
553.6535317897797 seconds
rmse on train 2827.396864615319
rmse on test 2921.500954029233
650.7349188327789 seconds
rmse on train 2827.087289763042
rmse on test 2922.213304323258
744.718560218811 seconds
rmse on train 2828.27777293966
rmse on test 2913.01478733139
845.4581034183502 seconds
rmse on train 2826.3746726693885
rmse on test 2922.43048916443
937.3088495731354 seconds
rmse on train 2827.8420558930115
rmse on test 2920.3129822614164

In [60]:
print(features.info())
print(testfeat.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 8 columns):
Gender                        550068 non-null int64
Age                           550068 non-null int64
Occupation                    550068 non-null int64
City_Category                 550068 non-null int64
Stay_In_Current_City_Years    550068 non-null int64
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
MultiCat                      550068 non-null float64
dtypes: float64(1), int64(7)
memory usage: 33.6 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 8 columns):
Gender                        233599 non-null int64
Age                           233599 non-null int64
Occupation                    233599 non-null int64
City_Category                 233599 non-null int64
Stay_In_Current_City_Years    233599 non-null int64
Marital_Status                233599 non-null int64
Product_Category_1            233599 non-null int64
Multicategory                 233599 non-null float64
dtypes: float64(1), int64(7)
memory usage: 14.3 MB
None

n_est = 20, maxde=14
2946.4962781303147
2944.822838738493

est = 20
2985.0632880931935
2984.292710566762

nest=30
2981.238237573069
2980.7399781530303

In [ ]:
rf = AdaBoostRegressor(n_estimators=20)
for trc, tc in cv.split(features, price):
    rf.fit(features.iloc[trc], price[trc])
    pred = rf.predict(features.iloc[tc])
    print(r2_score(price[tc], pred))
    print(math.sqrt(mean_squared_error(price[tc], pred)))

In [ ]:
rf = SVR()
for trc, tc in cv.split(features, price):
    rf.fit(features.iloc[trc], price[trc])
    pred = rf.predict(features.iloc[tc])
    print(r2_score(price[tc], pred))
    print(math.sqrt(mean_squared_error(price[tc], pred)))

In [39]:
rf = DecisionTreeRegressor(max_depth=14)
for trc, tc in cv.split(features, price):
    rf.fit(features.iloc[trc], price[trc])
    pred = rf.predict(features.iloc[tc])
#     print(rf.score(price[tc], pred))
    print(math.sqrt(mean_squared_error(price[tc], pred)))

2986.77440182195
2989.044546247416
2992.883240827144
2979.3293833374173
3001.81150783719
2986.5327543966528
2991.429914115287
2981.3762664512087
2988.1917415539933
2984.609044516439

Prediction and Exporting.

In [28]:
testPred = rf.predict(testfeat)

In [29]:
sub = pd.read_csv('Sample_Submission.csv')
sub["User_ID"]=test['User_ID']
sub["Product_ID"]=test["Product_ID"]
sub["Purchase"]=testPred;
# submissions = pd.DataFrame({"PassengerId" : test_data['PassengerId'], "Survived" : pred})
sub.to_csv('sub_rf_nest=40_depth=14_min_samples=50_warm=true_without_increment.csv', index = False)