In [1]:
import os
os.chdir('/home/gauravk/Documents/DataScience/Datasets/K_russian/')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import ggplot

In [2]:
train_df = pd.read_csv("train.csv")
train_df.shape

(30471, 292)

In [8]:
a = pd.DataFrame(train_df.dtypes.value_counts())

In [9]:
a

           0
int64    157
float64  119
object    16

In [1]:
selected_columns = ['id',
 'timestamp',
 'full_sq',
 'life_sq',
 'floor',
 'max_floor',
 'material',
 'build_year',
 'num_room',
 'kitch_sq',
 'state',
 'product_type',
 'sub_area',
 'area_m','price_doc']